extends layout.pug

block content
  h1 Add a New Book
  if bookStatus
    p= bookStatus
  form(action='/books/create', method='post', enctype='multipart/form-data')
    div
      label(for='title') Title
      input(type='text', id='title', name='title', required)
    div
      label(for='authors') Authors
      input(type='text', id='authors', name='authors', required)
    div
      label(for='description') Description
      textarea(id='description', name='description', required)
    div
      label(for='favourites') Favourites
      input(type='text', id='favourites', name='favourites', required)
    div
      label(for='cover') Cover
      input(type='text', id='cover', name='cover', required)
    div
      label(for='file_upload') Book File
      input(type='file', id='file_upload', name='file_upload', required)
    div
      button(type='submit') Add Book