nav.navbar
  .container
    .navbar_wrapper
      a.navbar-brand(href='/') Books App
      ul.navbar-nav
        li.nav-item
          a.nav-link(href='/books') Books
        li.nav-item
          a.nav-link(href='/books/create') Add Book
        li.nav-item
          a.nav-link(href='/books/view') Find Book